<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div><a href="/login">点击进行统一身份认证 </a></div><br/>

    <div><a href="/logout">点击logout </a></div><br/>
  </body>
</html>
